@model IEnumerable<manahil.Models.ProjectPricing>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Donor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contractor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Donor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contractor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProectPricingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProectPricingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProectPricingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
