@model manahil.Models.Cat_Department




<style>

    #styletext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-weight: 100;
        font-size: 40px;
    }
</style>

@using (Html.BeginForm("Create", "Department", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="container" style="max-width: 700px;">
        <div class="py-7 text-center">

            <h1 id="styletext">Department</h1>
            <p class="lead"></p>
        </div>

        @if (Model != null)
        {
            <input type="hidden" id="DeptId" name="DeptId" value="@Model.DeptId" />
        }
        else
        {
            <input type="hidden" asp-for="DeptId" value="0" />
        }
        <div id="modalbodyfahad" class="row card p-4">
            <div class="col-md-12 order-md-1">
                <h4 class="mb-3">Department @ViewBag.Title</h4>

                <form class="needs-validation card p-4" novalidate>
                    <div class="container">
                        <div class="row">
                            <div class="col mb-3">
                                @Html.LabelFor(model => model.DeptName)
                                @Html.EditorFor(model => model.DeptName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DeptName, "", new { @class = "text-danger" })

                            </div>
                            <div class="col mb-3">
                                @Html.LabelFor(model => model.DeptCode)
                                @Html.EditorFor(model => model.DeptCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DeptCode, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                @Html.LabelFor(model => model.DeptBangla)
                                @Html.EditorFor(model => model.DeptBangla, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DeptBangla, "", new { @class = "text-danger" })

                            </div>
                            <div class="col mb-3">
                                @Html.LabelFor(model => model.Slno)
                                @Html.EditorFor(model => model.Slno, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Slno, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="row text-center m-2">
                            <br />
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">

                                @if (ViewBag.Title == "Create")
                                {
                                    <input type="submit" value="Save" class="btn btn-primary btn-md btn-block" />

                                    @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                }
                                else if (ViewBag.Title == "Edit")
                                {
                                    <input type="submit" value="Update" class="btn btn-warning btn-block" />

                                    @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                }
                                else if (ViewBag.Title == "Delete")
                                {
                                    <button class="btn btn-danger btn-md btn-block" type="button" onclick="Department_delete()">Delete</button>
                                }


                            </div>
                            <div class="col-md-4 col-xs-12 d-block mx-auto">
                                @Html.ActionLink("Back", "Index", "Department", null, new { @class = "btn btn-info btn-block", @id = "btnBack" })

                            </div>
                            <div class="col-md-2"></div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

@section Scripts{
    <script>

    //$("#DeptId").select2();

    function Department_delete() {

        var deptId = $("#DeptId").val();
            //alert(SalesId);
            $.ajax({

                url: '@Url.Action("Delete", "Department")',
                //url: '@Url.Action("Delete")',
                data: JSON.stringify({ id: deptId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    if (result.Success == "1") {
                        toastr.success(result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("Index", "Department")';
                    }, 500);
                }
                else {
                   // toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


