@model manahil.ViewModels.DashboardViewModel;
@{
    ViewData["TitleHeader"] = "Dashboard";
    Layout = "~/Views/Shared/_AdLayout.cshtml";
}
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-arrow-alt-circle-up"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Today Delivered Project </span>
                <span class="info-box-number">
                    @Model.TodayDeliveredProject
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-arrow-alt-circle-down"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Today Get Project</span>
                <span class="info-box-number">@Model.TodayGetProject</span>

            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-tools"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Ongoing Project</span>
                <span class="info-box-number">@Model.OnGoingProject</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-th"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Total Project</span>
                <span class="info-box-number">@Model.TotalProject</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">All Projects Report</h5>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>

                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 border border-warning">
                        <p class="text-center">
                            <strong>Contractor Project Completion</strong>
                        </p>
                        @for (int i = 0; i < Model.ContractorName.Count; i++)
                        {
                            int totalProjectByContractor = Model.TotalProjectByContractor[i];
                            int totalOnGoingProjectByContractor = Model.TotalOnGoingProjectByContractor[i];
                            int totalDeliveredProject = totalProjectByContractor - totalOnGoingProjectByContractor;
                            int percentage1 = 0;
                            if (totalProjectByContractor != 0)
                            {
                                percentage1 = (100 / totalProjectByContractor) * totalDeliveredProject;
                            }

                            <div class="progress-group">
                                @Model.ContractorName[i]
                                <span class="float-right"><b>@totalDeliveredProject</b>/@totalProjectByContractor</span>
                                <div class="progress progress-sm">
                                    @*<div class="progress-bar bg-warning" style="width: 35%"></div>*@
                                    @Html.Raw("<div class='progress-bar bg-warning' style='width:" + percentage1 + "%'></div> ")

                                </div>
                            </div>

                        }

                        <!-- /.progress-group -->
                        <!-- /.progress-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6 border border-primary">
                        <p class="text-center">
                            <strong>Donor Project Completion</strong>
                        </p>
                        @for (int i = 0; i < Model.DonorName.Count; i++)
                        {
                            int totalProjectByDonor = Model.TotalProjectByDonor[i];
                            int totalOnGoingProjectByDonor = Model.TotalOnGoingProjectByDonor[i];
                            int totalDeliveredProject = totalProjectByDonor - totalOnGoingProjectByDonor;
                            int percentage = 0;
                            if (totalProjectByDonor != 0)
                            {
                                percentage = (100 / totalProjectByDonor) * totalDeliveredProject;
                            }

                            <div class="progress-group">
                                @Model.DonorName[i]
                                <span class="float-right"><b>@totalDeliveredProject</b>/@totalProjectByDonor</span>
                                <div class="progress progress-sm">
                                    @*<div class="progress-bar bg-primary" style="width: 35%"></div>*@
                                    @Html.Raw("<div class='progress-bar bg-primary' style='width:" + percentage + "%'></div> ")

                                </div>
                            </div>

                        }

                        <!-- /.progress-group -->
                        <!-- /.progress-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- ./card-body -->

        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">All Projects Report</h5>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>

                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 border border-warning">
                        <p class="text-center">
                            <strong>Last Six Months Report</strong>
                        </p>

                        <div id="barchart_div"></div>

                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- ./card-body -->

        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

@section Scripts{

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>

        $(document).ready(function () {

            $.ajax({
                type: 'GET',
                dataType: "json",
                contentType: "application/json",
                url: '/Dashboard/ProjectsChart',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }
            });

            function drawChart(result) {

                var data = new google.visualization.DataTable();
                data.addColumn('number', 'Months');
                data.addColumn('number', 'Get Project');
                data.addColumn('number', 'Delivered Project');
                var dataArray = [];
                $.each(result, function (i, obj) {
                    dataArray.push([obj.Months, obj.TotalGetProjectsByMonth, obj.TotalDeliveredProjectsByMonths]);
                });

                data.addRows(dataArray);

                var options = {
                    title: 'Monthly Projects Report',
                    vAxis: { title: 'Projects' },
                    hAxis: { title: 'Month' },
                    seriesType: 'bars',
                    series: { 2: { type: 'line' } }
                };

                var barchart = new google.visualization.ComboChart(document
                    .getElementById('barchart_div'));
                barchart.draw(data, options);

                //var options = {
                //    chart: {
                //        title: 'Company Performance',
                //        subtitle: 'Sales, Expenses, and Profit: 2014-2017',
                //    },
                //    bars: 'horizontal' // Required for Material Bar Charts.
                //};

                //var chart = new google.charts.Bar(document.getElementById('barchart_div'));

                //chart.draw(data, google.charts.Bar.convertOptions(options));
            }
            

           

        });

    </script>
}
