@model IEnumerable<manahil.Models.ApprovalProjects>

@{
    ViewData["TitleHeader"] = "Approval Projects List";
    Layout = "~/Views/Shared/_AdLayout.cshtml";
}


    <table id="tbllist" class="table table-striped table-bordered table-sm  table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.SerialNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApprovedMoney)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApprovalDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Donor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalAcceptedMoney)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseAmount)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var endDays = Convert.ToDateTime(item.EndtDate);
                TimeSpan diffDay = endDays - DateTime.Today.Date;
                if (diffDay.Days < 7)
                {
            <tr class="bg-warning">
                <td>
                    <a onclick="viewApprovalProject('@Url.Action("ViewApprovalProject","ApprovalProjects",new {id=item.ApprovalProjectId },Context.Request.Scheme)','Detail Approval Project')" class="fas fa-arrow-alt-circle-up btn btn-info btn-xs"></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovedMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Donor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAcceptedMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseAmount)
                </td>
                
            </tr>
                }
                else
                {
        <tr>
            <td>
                <a onclick="viewApprovalProject('@Url.Action("ViewApprovalProject","ApprovalProjects",new {id=item.ApprovalProjectId },Context.Request.Scheme)','Detail Approval Project')" class="fas fa-arrow-alt-circle-up btn btn-info btn-xs"></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAcceptedMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseAmount)
            </td>

        </tr>
                }

            }
        </tbody>
    </table>

@section Scripts{


    <script>
        $(document).ready(function () {
            $('#tbllist').DataTable({
                "searching": true,
                "paging": true,
                "ordering": false,

            });
        });
    </script>
}