@model manahil.Models.ApprovalProjects

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ApprovalProjects</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonumentalNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonumentalNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndtDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndtDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificateStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAcceptedMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAcceptedMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectImplementAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectImplementAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApprovalProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
