@model IEnumerable<manahil.ViewModels.ContractorOnlyViewModel>

@{
    ViewData["TitleHeader"] = "Contractor";
    Layout = "~/Views/Shared/_AdLayout.cshtml";
}

<form class="card p-2 table-responsive">

    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-3">
                <!-- Widget: user widget style 2 -->
                <div class="card card-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-warning">
                        <div class="widget-user-image">
                            @if (item.Image == null)
                            {
                            <img class="img-circle elevation-2" src="https://f0.pngfuel.com/png/980/304/man-profile-illustration-computer-icons-user-profile-avatar-png-clip-art-thumbnail.png" alt="User Avatar">
                            }
                            else
                            {
                                <img class="img-circle elevation-2" src="~/images/@item.Image" alt="Avatar">
                            }


                        </div>
                        
                        <!-- /.widget-user-image -->
                        <h4 class="widget-user-username">@item.Name</h4>
                        <h5 class="widget-user-desc" >@*@item.City.Name*@</h5>
                    </div>
                    <div class="card-footer p-0">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                
                                <a href="#" class="nav-link">
                                    Total Projects <span class="float-right badge bg-primary">@item.TotalProject</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Complete Projects <span class="float-right badge bg-success">@item.DeliveredProject</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    OnGoing Projects <span class="float-right badge bg-danger">@{int onGoingProject = item.TotalProject - item.DeliveredProject;}@onGoingProject</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ContractorId }, new { @class = "btn btn-outline-warning nav-link" })
                                @*<a href="#" class="btn btn-outline-warning nav-link">Edit</a>*@
                            </li>

                            <li class="nav-item">
                                @Html.ActionLink("Details", "Details", new { Id = item.ContractorId }, new { @class = "btn btn-outline-success nav-link" })
                                
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Delete", "Delete", new { Id = item.ContractorId }, new { @class = "btn btn-outline-danger nav-link" })
                                @*<a href="#" class="btn btn-outline-warning nav-link">Edit</a>*@
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.widget-user -->
            </div> <!-- /.col -->

             }
    </div>
    </form>

<!-- /.col -->


@section Scripts{


    <script>
        $(document).ready(function () {
            $('#tbllist').DataTable({
                dom: '<"dom_wrapper fh-fixedHeader"flB>tip',
                //"sDom": "<'row'<'col-sm-12'<'form-group'<f>>>>tr<'row'<'col-sm-12'<'pull-left'i><'pull-right'p><'clearfix'>>>",
                //buttons: [
                //    'copy', 'csv', 'excel', 'pdf'
                //],
                buttons: {
                    dom: {
                        button: {
                            className: 'btn rounded-0'
                        }
                    },
                    buttons: [
                        //'copy', 'csv', 'excel', 'pdf'
                        //$(this).addClass("btn-group dt-buttons justify-content-center mb-3")
                        {
                            extend: 'colvis',
                            "columns": ':not(:last-child)',
                            text: '<i class="mdi mdi-view-column"></i>',
                            className: 'btn-info',
                            titleAttr: 'Show / hide columns',
                            //collectionLayout: 'fixed two-column'

                        },
                        {
                            extend: 'copy',
                            text: '<i class="mdi mdi-content-copy"></i>',
                            className: 'btn-primary',
                            titleAttr: 'Copy to Clipboard'
                        },
                        {
                            extend: 'csv',
                            text: '<i class="mdi mdi-note-outline"></i>',
                            className: 'btn-secondary',
                            titleAttr: 'Export to csv'

                        },
                        {
                            extend: 'excel',
                            text: '<i class="mdi mdi-file-excel"></i>',
                            className: 'btn-success',
                            titleAttr: 'Export to excel'
                        },
                        {
                            extend: 'pdfHtml5',
                            orientation: 'landscape',
                            pageSize: 'LEGAL',
                            text: '<i class="mdi mdi-file-pdf"></i>',
                            className: 'btn-danger',
                            titleAttr: 'Export to PDF',
                            //exportOptions: {
                            //    columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                            //}

                        },
                        {
                            extend: 'print',
                            text: '<i class="mdi mdi-printer"></i>',
                            className: 'btn-info',
                            titleAttr: 'Print Table'
                        }

                    ]
                },
                //"columnDefs": [
                // Hide second, third and fourth columns
                //{ "visible": false, "targets": [3, 4, 7, 9, 10] }
                //],
                "searching": true,
                "paging": false,
                "ordering": true,
                "info": true,
                "iDisplayLength": 15,
                "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
                "scrollX": true,
                "scrollY": "60vh",
                "scrollCollapse": true,
                language: {
                    sLengthMenu: "_MENU_"
                }
                //fixedColumns: {
                //    leftColumns: 1,
                //    rightColumns: 1
                //}

                //"sScrollXInner": "100%",
                //dom: 'Blfrtip',
                ////,"fixedHeader": true
            });
        });

                            //$(".search_input").addClass('form-control input-lg col-xs-12');

    </script>
}
