@model manahil.Models.Project

@{
    ViewData["TitleHeader"] = "Projects";
    Layout = "~/Views/Shared/_AdLayout.cshtml";
}


<div class="col-md-10">
    <!-- general form elements disabled -->
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">General Elements</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form asp-action="OnlyCreateProject">
                @if (Model != null)
                {
                    <input type="hidden" asp-for="ProjectId" value="@Model.ProjectId" />
                    <input type="hidden" asp-for="ContractorId" value="@Model.ContractorId" />
                    <input type="hidden" asp-for="EmployeeId" value="@Model.EmployeeId" />
                    <input type="hidden" asp-for="DistributionDate" value="@Model.DistributionDate" />
                    <input type="hidden" asp-for="CompletedDate" value="@Model.CompletedDate" />
                    <input type="hidden" asp-for="PaymentStatus" value="@Model.PaymentStatus" />

                }
                else
                {
                    <input type="hidden" asp-for="ProjectId" value="0" />
                }
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" id="namePorjectD" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="ManahilSerial" class="control-label"></label>
                            <input asp-for="ManahilSerial" id="manahilSerialD" class="form-control" disabled />
                            <span asp-validation-for="ManahilSerial" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label asp-for="DonorSerial" class="control-label"></label>
                            <input asp-for="DonorSerial" id="orgSerialD" class="form-control" />
                            <span asp-validation-for="DonorSerial" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="DonorId" class="control-label"></label>
                        <select asp-for="DonorId" id="donorD" class="form-control" asp-items="ViewBag.DonorId">
                            <option value="">-Select Country-</option>
                        </select>
                        <span asp-validation-for="DonorId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" id="categoryD" class="form-control" asp-items="ViewBag.CategoryId">
                                <option value="">-Select Category-</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="GetDate" class="control-label"></label>
                            <input asp-for="GetDate" id="getDateD" class="form-control" />
                            <span asp-validation-for="GetDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                @*text Area*@
                <!--<div class="row">
    <div class="col-sm-6">-->
                <!-- textarea -->
                <!--<div class="form-group">
                <label>Textarea</label>
                <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>
        </div>

    </div>-->
                @*text Area*@
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <a asp-action="OnlyProjectView" class="btn btn-outline-info btn-md btn-block">Back</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        @if (ViewBag.Title == "Create")
                        {
                            <input type="submit" value="Save" class="btn btn-primary btn-md btn-block" />

                            @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                        }
                        else if (ViewBag.Title == "Edit")
                        {
                            <input type="submit" value="Update" class="btn btn-warning btn-block" />

                            @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                        }
                        else if (ViewBag.Title == "Delete")
                        {
                            <button class="btn btn-danger btn-md btn-block" type="button" onclick="Project_delete()">Delete</button>
                        }
                        @*<input type="submit" value="Create" class="btn btn-primary" />*@
                    </div>
                </div>

            </form>
        </div>
        <!-- /.card-body -->
    </div>
</div>

@section Scripts{
    <script>

    //$("#DeptId").select2();

        function Project_delete() {

        var prjctId = $("#ProjectId").val();
            //alert(SalesId);
            $.ajax({

                url: '@Url.Action("DeleteOnlyProject", "Projects")',
                //url: '@Url.Action("DeleteOnlyProject")',
                data: JSON.stringify({ id: prjctId }), //use id here
                //data: JSON.stringify(salesmain),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (result) {
                    if (result.Success == "1") {
                        //toastr.success(result.ex);
                    window.setTimeout(function () {
                        // Move to a new location or you can do something else
                        window.location.href = '@Url.Action("OnlyProjectView", "Projects")';
                    }, 0);
                }
                else {
                    toastr.error(result.ex);
                }
            }
            });
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
