@model manahil.ViewModels.ProjectsViewModel

@{
    ViewData["TitleHeader"] = "Project";
    Layout = "~/Views/Shared/_AdLayout.cshtml";
}
<style>
    .selected {
        background-color: yellowgreen !important;
    }
</style>
<form asp-action="ProjectView" method="post">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Start Date</label>
                    </div>
                    <input asp-for="StartDate" type="date" class="form-control" />
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">End Date</label>
                    </div>
                    <input asp-for="EndDate" type="date" class="form-control" />
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Type</label>
                    </div>
                    <select asp-for="ProjectType" class="form-control">
                        <option value="">-Select Project Type-</option>
                        <option value="1">OnGoing Project</option>
                        <option value="2">Complete Project</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <input type="submit" class="btn btn-success btn-block" value="Search" />
        </div>
    </div>
</form>
<form class="card p-2 table-responsive">

    <table id="tbllist" class="table table-striped table-sm text-nowrap table-hover" cellspacing="0" width="100%">
        <thead class="text-nowrap">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().ManahilSerial)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Donor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().DonorSerial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().GetDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Contractor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().DistributionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Employee)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().PaymentStatus)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Name)
                </th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Serial</th>
                <th>Donor</th>
                <th>Donor Serial</th>
                <th>Get Date</th>
                <th>Category</th>
                <th>Contractor</th>
                <th>Distribute Date</th>
                <th>Employee</th>
                @*<th>Payment Status</th>*@
                <th>Name</th>
            </tr>
        </tfoot>
        <tbody class="text-nowrap">
            @foreach (var item in Model.Projects)
            {
                @if (item.EmployeeId == null)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ManahilSerial)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Donor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonorSerial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GetDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contractor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DistributionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.PaymentStatus)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
                }
                else
                {
        <tr class="selected">
            <td>
                @Html.DisplayFor(modelItem => item.ManahilSerial)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Donor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonorSerial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contractor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistributionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
                }

            }
        </tbody>
    </table>
</form>


@section Scripts{


    <script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>

    <script>
        $(document).ready(function () {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = dd + '-' + mm + '-' + yyyy;
            var table = $('#tbllist').DataTable({

                dom: 'lBfrtip',
                "buttons": [

                    {
                        extend: 'copy',
                        text: '<i class="fa fa-clone"></i> Copy',
                        titleAttr: 'Copy to Clipboard'
                    },
                    {
                        extend: 'csv',
                        text: '<i class="fas fa-file-csv"></i> CSV',
                        titleAttr: 'Export to csv',
                        title: today + '-Projects',

                    },
                    {
                        extend: 'excel',
                        text: '<i class="fas fa-file-excel"></i> Excel',
                        titleAttr: 'Export to excel',
                        title: today + '-Projects'
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'A4',
                        text: '<i class="fas fa-file-pdf"></i> PDF',
                        titleAttr: 'Export to PDF',
                        title:  today+'-Projects',
                        //exportOptions: {
                        //    columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                        //}

                    }
                    //{
                    //    extend: 'print',
                    //    text: '<i class="fas fa-file-pdf"> Print',
                    //    className: 'btn-info',
                    //    titleAttr: 'Print Table'
                    //}
                ],
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "searching": true,
                "paging": true,
                "order": [[0, "desc"]]
                //"ordering": true,


            });

            $("#tbllist tfoot th").each(function (i) {
                var select = $('<select class="form-control"><option value="">-Select-</option></select>')
                    .appendTo($(this).empty())
                    .on('change', function () {
                        table.column(i)
                            .search($(this).val())
                            .draw();
                    });

                table.column(i).data().unique().sort().each(function (d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>')
                });
            });


            $('div.dataTables_filter').addClass("form-inline");
            $('div.dataTables_filter input').addClass("form-control");
            $('div.dataTables_filter input').addClass("input-sm");
            //$('div.dataTables_length select').addClass("form-control");
            $('div.dataTables_length').addClass("form-inline");
            $('div.dataTables_length select').addClass("form-control");

        });
            //var table = $('#tbllist').DataTable();



    </script>
}
