@*@model IEnumerable<manahil.Models.Category>*@
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor IHttpContext
@using manahil.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.TitleHeader</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Dashboard</title>
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />


    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">
    <link href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/admin.min.css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link href="~/Fakeloader/fakeloader.css" rel="stylesheet" />

    <script src="~/js/site.js"></script>
    @*<script src="~/js/jquery.tabledit.min.js"></script>*@

</head>

<body class="hold-transition sidebar-mini">

    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                        <a href="index3.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link">Contact</a>
                    </li>*@
            </ul>

            <!-- SEARCH FORM -->
            @*<form class="form-inline ml-3">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>*@

        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a class="brand-link" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/images.png" alt="AMWFB Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light manahilfont">Al Manahil</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="https://f0.pngfuel.com/png/980/304/man-profile-illustration-computer-icons-user-profile-avatar-png-clip-art-thumbnail.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@User.Identity.Name</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item has-treeview menu-open">
                            <a asp-action="Index" asp-controller="Dashboard" class="nav-link border border-success">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Projects" asp-action="ProjectView">
                                <i class="fas fa-globe nav-icon"></i>
                                <p>Project View</p>
                            </a>
                        </li>
                        @if (User.IsInRole("Management") || User.IsInRole("Admin"))
                        {
                            <li class="nav-header">Management Menu</li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="DepositAccounts" asp-action="DepositView">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>
                                        Accounts
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="approvalProjects" asp-action="ApprovalProjectsList">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>
                                        Projects Approval
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="ManahilMonumentals" asp-action="ViewMonumental">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>
                                        Al Manahil Monumental
                                    </p>
                                </a>
                            </li>
                        }

                        @if (User.IsInRole("Accounting Manager") || User.IsInRole("Admin"))
                        {
                            <li class="nav-header">Accounts Menu</li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="approvalProjects" asp-action="ApprovalProjectsList">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>
                                        Projects Approval View
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="ApprovalProjects" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Projects Approval</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="DepositAccounts" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Account Deposit</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="ManahilMonumentals" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Al Manahil Monumental</p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Donation Manager") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item" id="generaltubewell">
                                <a asp-controller="BdDonations" asp-action="index" class="nav-link">
                                    <i class="fas fa-donate nav-icon"></i>
                                    <p>Bangladesh Donation</p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Computer Operator"))
                        {
                            <li class="nav-header">Operator Menu</li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-hand-holding-water"></i>

                                    <p>
                                        Water Well
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">

                                    <li class="nav-item" id="generaltubewell">
                                        <a asp-controller="Projects" asp-action="CompletedProject" asp-route-id="1" class="nav-link">
                                            <i class="fas fa-tint nav-icon"></i>
                                            <p>General</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Projects" asp-action="CompletedProject" asp-route-id="3" class="nav-link">
                                            <i class="fas fa-tint nav-icon"></i>
                                            <p>Tiles</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Projects" asp-action="CompletedProject" asp-route-id="2" class="nav-link">
                                            <i class="fas fa-tint nav-icon"></i>
                                            <p>Deep</p>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Projects" asp-action="CompletedProject" asp-route-id="6" class="nav-link">
                                    <i class="nav-icon fas fa-faucet"></i>
                                    <p>

                                        Ablution
                                        @*<span class="right badge badge-danger">New</span>*@
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a asp-controller="Projects" asp-action="CompletedProject" asp-route-id="5" class="nav-link">
                                    <i class="nav-icon fas fa-mosque"></i>
                                    <p>
                                        Mosque

                                    </p>
                                </a>

                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-tasks"></i>
                                    <p>
                                        All Categories
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @{
                                        var Categories = IHttpContext.HttpContext.Session.GetObject<List<Category>>("categories");

                                        if (Categories != null)
                                        {
                                            foreach (var item in Categories)
                                            {
                                                <li class="nav-item">

                                                    <a asp-controller="Projects" asp-action="CompletedProject" asp-route-id="@item.CategoryId" class="nav-link">
                                                        <i class="fas fa-tint nav-icon"></i>
                                                        <p>@item.Name</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    }


                                </ul>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-table"></i>
                                    <p>
                                        Extra
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="ManageDrives" asp-action="Index">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Manage Drive Account</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }


                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-header">Admin Menu</li>


                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-book"></i>
                                    <p>
                                        Project
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index">
                                            <i class="nav-icon far fa-image"></i>
                                            <p>
                                                Projects
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Projects" asp-action="CreateMultiple">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Add Projects</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Projects" asp-action="DistributionProject">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Distribution Project</p>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Common
                                        <i class="fas fa-angle-left right"></i>

                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Countries" asp-action="Index">
                                            <i class="fas fa-pencil-ruler nav-icon"></i>
                                            <p>Country</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Cities" asp-action="Index">
                                            <i class="fas fa-pencil-ruler nav-icon"></i>
                                            <p>City</p>
                                        </a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="Index">
                                            <i class="fas fa-pencil-ruler nav-icon"></i>
                                            <p>Category</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Designations" asp-action="Index">
                                            <i class="fas fa-pencil-ruler nav-icon"></i>
                                            <p>Designation</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="PaymentTypes" asp-action="Index">
                                            <i class="fas fa-pencil-ruler nav-icon"></i>
                                            <p>Payment Type</p>
                                        </a>
                                    </li>


                                </ul>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-users"></i>
                                    <p>
                                        Employee
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Donors" asp-action="Index">
                                            <i class="fas fa-handshake nav-icon"></i>
                                            <p>Donor</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Employees" asp-action="Index">
                                            <i class="fas fa-user-friends nav-icon"></i>
                                            <p>Employee</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Contractors" asp-action="Index">
                                            <i class="fas fa-hands-helping nav-icon"></i>
                                            <p>Contractor</p>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon far fa-plus-square"></i>
                                    <p>
                                        Admin
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Administration" asp-action="Index" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Role</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Administration" asp-action="ListUser" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>User</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Account" asp-action="ForgotPassword" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Forgot Password</p>
                                        </a>
                                    </li>


                                </ul>
                            </li>

                        }

                        <li class="nav-item has-treeview">
                            <a asp-controller="Account" asp-action="Logout" class="nav-link btn-danger ">
                                <i class="nav-icon fas fa-sign-out-alt"></i>
                                <p>
                                    Logout
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark"> @ViewData["TitleHeader"]</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            @*<ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active">Dashboard v3</li>
                                </ol>*@
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">


                    <div>
                        @RenderBody()
                    </div>


                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>


        @*Popup Modal*@

        <div class="modal fade" tabindex="-1" role="dialog" id="form-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content border border-success">
                    <div class="modal-header border-bottom border-success">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>


        <div id="fakeloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner"><div class="loader"></div></div></div></div>

        @*Popup modal*@

        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Developed by <a target="_blank" href="https://www.facebook.com/aziz97d" class="manahilfont">Abdul Aziz</a></strong>

        </footer>
    </div>

    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <script src="~/Fakeloader/fakeloader.js"></script>
    <script src="~/js/admin.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>


        window.FakeLoader.init({ auto_hide: true });


            var status = @Html.Raw(Json.Serialize(TempData["Status"]));
            var message = @Html.Raw(Json.Serialize(TempData["Message"]));
            if (status != null) {
                if (status == "1") {
                    toastr.success(message);
                }
                else if (status == "2") {
                    toastr.info(message);
                }
                else if (status == "3") {
                    toastr.error(message);
                }

            }
        //Toaster Code End


    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>
