@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["TitleHeader"] = "User List";
    Layout = "~/Views/Shared/_AdLayout.cshtml";
}

<p>
    <a asp-action="Register" asp-controller="Account" class="btn btn-success">Create New</a>
</p>
@if (Model.Any())
{
    @*<form class="card p-2 table-responsive">*@
        <table id="tbllist" class="display" cellspacing="0" width="100%">
            <thead class="text-nowrap">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    
                    <td class="text-nowrap">
                        <form asp-action="DeleteUser" asp-route-id="@item.Id" method="post">
                            <span data-toggle="tooltip" title="Edit!">
                                <a class="fas fa-edit btn btn-warning btn-xs" asp-action="EditUser" asp-route-id="@item.Id"></a>
                                @*@Html.ActionLink(" ", "EditUser", new { Id = item.Id }, new { @class = "far fa-edit btn btn-warning btn-xs" })*@
                            </span>
                            <span data-toggle="tooltip" title="Delete!">

                                <button type="submit" class="fas fa-edit btn btn-danger btn-xs" onclick="return confirm('Do you delete : @item.UserName user')">Delete</button>


                                @*@Html.ActionLink(" ", "DeleteUser", new { Id = item.Id }, new { @class = "far fa-trash-alt btn btn-danger btn-xs" })*@
                            </span>
                        </form>
                    </td>
                </tr>
    }
                </tbody>
                </table>

                @*</form>*@

            }
            else
            {
                <table id="tbllist" class="table table-striped table-bordered table-sm  table-hover" cellspacing="0" width="100%">
                    <thead class="text-nowrap">
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-nowrap">
                                No User Added
                            </td>
                        </tr>
                    </tbody>
                </table>
            }



@section Scripts{

    <script>

        $(document).ready(function () {

            var table = $('#tbllist').DataTable();


        });
    </script>

}
